@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-green: #87b862;
  --color-green-dark: #377706;
  --color-black: #1c122c;
  --color-accent: #d3ddcb;

  --breakpoint-sm: 520px;
  --breakpoint-md: 650px;
  --font-sans: "Libertinus Sans", sans-serif
}

:root {
  --test: #396392;
  --minWidth: 320px;

  --fullHeight: 100vh;
  font-family: "Libertinus Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* font-synthesis: none; */
  /* image-rendering: pixelated;
  image-rendering: crisp-edges; */

  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A//www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 40 40' stroke-width='1' stroke='%231c122c'%3E%3Ccircle cx='20' cy='20' r='3' /%3E%3C/svg%3E");
  background-position: 0 0;
  animation: bg-move-40 3s linear infinite;
  @apply bg-green text-black;

  touch-action: none;
  user-select: none;
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 60%;
  }
}

@keyframes bg-move-40 {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 40px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

html {
  height: var(--fullHeight, 100vh);
  min-width: var(--minWidth);
}

body {
  min-width: var(--minWidth);
  height: var(--fullHeight, 100vh);
  overflow-x: hidden;
  @apply w-full flex items-center;
}

.stage {
  width: 100%;
  max-width: 45rem;
  aspect-ratio: 3 / 4;
  margin-inline: auto;
  margin-block: auto;
}

/* Menu */


#menu {
  margin-inline: auto;
  background-color: #bec7b78a;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  @apply flex flex-col justify-center;
}

#menu-header {
  @apply size-100 md:size-120 mx-auto relative grid place-items-center pointer-events-none;
  overflow: hidden;
  contain: paint;
}

.title-loop {
  @apply absolute size-100 md:size-120 overflow-hidden;
  rotate: 25deg;
  /* transform: rotate(-107deg); */
  animation: title-wobble1 8s infinite;
}

.title-inner-loop {
  @apply size-64 md:size-80;
  /* transform: rotate(-120deg); */
  animation: title-wobble2 3.4s infinite;
}

.title-loop .letter-wrap {
  @apply absolute inset-0;
  rotate: inherit;
  animation: title-wobble3 4s infinite;
}

.title-loop .letter {
  @apply hover:scale-110
}

@keyframes title-wobble1 {

  /* center -87deg */
  0% {
    transform: rotate(-107deg)
  }

  50% {
    transform: rotate(-67deg)
  }

  100% {
    transform: rotate(-107deg)
  }
}

@keyframes title-wobble2 {

  /* center -110deg */
  0% {
    transform: rotate(-120deg)
  }

  50% {
    transform: rotate(-100deg)
  }

  100% {
    transform: rotate(-120deg)
  }
}

@keyframes title-wobble3 {

  /* center -110deg */
  0% {
    transform: rotate(5deg)
  }

  50% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(5deg)
  }
}


.menu-options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.menu-btn {
  @apply px-4 py-3 rounded-xl w-44 font-semibold;
  @apply text-xl hover:scale-105 transition;
  @apply bg-accent;
  cursor: pointer;
}


#levels {
  background-color: #aee0bfaa;
  @apply p-4;
  @apply grid grid-cols-4 gap-4 relative;
  @apply items-start content-start items-stretch;
}

#levels .menu-btn {
  @apply mt-auto;
  @apply w-34 sm:w-34 md:w-44;
  @apply text-base md:text-xl;
}

.level-btn {
  @apply text-3xl sm:text-4xl md:text-5xl;
  @apply bg-accent rounded-full;
  @apply aspect-square cursor-pointer;
  @apply hover:scale-105 transition;
}

.level-btn.complete {
  @apply text-green-dark border-4 border-green-dark;
}

.level-btn:disabled {
  @apply bg-accent/60 text-gray-400;
  @apply hover:scale-100 transition;

}

#credits {
  background-color: #b5aee0aa;

  @apply p-4;
  @apply grid gap-4;
  @apply place-items-center content-center;
}

.small-back-btn {
  @apply rounded-xl cursor-pointer;
  @apply px-4 py-2 mr-auto;
  @apply transition bg-accent/40 hover:bg-accent;
}

#settings {
  background-color: #aec4e0aa;

  @apply p-4;
  @apply grid gap-4;
  @apply place-items-center content-center;
}



/* Game */

#canvas {
  @apply fixed w-full left-0 top-0;
  @apply pointer-events-none;
  height: var(--fullHeight, 100vh);
  min-width: var(--minWidth);
  touch-action: none;
  /* filter: hue-rotate(0deg) brightness(1) invert(0); */
  filter: saturate(100%) hue-rotate(0deg);

}

#canvas.correct {
  filter: saturate(500%) hue-rotate(60deg);

  /* filter: hue-rotate(60deg) brightness(0) invert(0.5); */
  transition: filter 1s;
  /* animation: fade-out 500ms 600ms both; */
  /* transition: opacity 500ms 600ms; */
  /* opacity: 0; */
}

#ingame-back-btn {
  @apply top-0 left-0 absolute rounded-xl cursor-pointer;
  @apply px-4 py-2 m-2 w-17;
  @apply transition bg-accent/40 hover:bg-accent;
}

#hint-btn {
  @apply top-0 right-0 absolute rounded-xl cursor-pointer;
  @apply px-4 py-2 m-2 w-17;
  @apply transition bg-accent/40 hover:bg-accent;
  @apply bg-linear-to-r to-accent/40 to-50%;
  @apply from-49% from-green-dark/40;
  display: none;

  background-size: 200%;
  background-position: 100%;
}

#hint-btn:disabled {
  @apply cursor-auto;
  @apply bg-accent/40 hover:bg-accent/40;
}

#level-title {
  @apply font-bold text-center;
  @apply absolute top-2;
  @apply text-lg md:text-2xl;
  @apply bg-accent/50 px-4 py-1 rounded-full;
}

#instruction {
  @apply absolute bottom-4 px-4 py-2 rounded-xl;
  @apply text-sm sm:text-base md:text-lg;
  @apply bg-accent;
  transition: opacity 500ms 600ms;
}

#instruction:empty {
  opacity: 0;
}

#instruction.correct {
  opacity: 0;
}

#game-stage {
  display: grid;
  place-items: center;
  overflow: hidden;
  contain: paint;
  background-color: #cecaca49
}

.wordLoop {
  @apply mt-[37%] sm:mt-[38%] md:mt-[35%];
  @apply absolute uppercase pointer-events-none;
  @apply size-56 sm:size-60 md:size-82;
  animation: fade-in 1s 0.2s both;
}

.wordLoop.big {
  @apply size-84 sm:size-96 md:size-120;
}


.wordLoop.correct {
  transform: rotate(180deg);
  transition: transform 1500ms;
  animation: fade-out 800ms 400ms both;
}

.wordLoop.correct .letter {
  transition: transform 500ms;
  transform: rotate(360deg);
}

.letter-wrap {
  @apply flex justify-center items-start inset-0 absolute text-center;
  transform-origin: center center;
  rotate: inherit;
}

.letter {
  @apply rounded-full;
  @apply size-17 sm:size-18 md:size-24;
  @apply grid place-items-center relative;
  pointer-events: auto;
}

.small-hitbox .letter {
  @apply size-9 sm:size-10 md:size-12;
  @apply m-4 sm:m-4 md:m-4;
}

.letter-circle {
  @apply absolute;
  @apply size-13 sm:size-14 md:size-16;
  @apply text-2xl md:text-3xl;
  @apply bg-accent select-none font-semibold;
  @apply rounded-full;
  @apply grid place-items-center;
  @apply transition duration-100;
  @apply pointer-events-none;
}

.letter.letter-used .letter-circle {
  color: hsl(0, 0%, 40%);
  transform: scale(1.02);
  transition: transform .1s cubic-bezier(.5, .5, 1, 10);
}

#rotate-right-btn,
#rotate-left-btn {
  @apply absolute p-[2%];
  @apply bottom-[56%];
  @apply cursor-pointer;
}

#rotate-right-btn {
  @apply right-[15%];
}

#rotate-left-btn {
  @apply left-[15%];
}


#hangman {
  @apply absolute p-[2%] w-full;
  @apply space-y-2 sm:space-y-3 md:space-y-6;
  /* @apply top-12 md:top-14; */
  @apply bottom-[64%] md:bottom-[65%];
  @apply pointer-events-none;
  animation: fade-in 1s 0.4s both;
}

#hangman.correct {
  /* @apply transition-opacity duration-200; */
  /* @apply opacity-0; */
  animation: fade-out 300ms 1200ms both;
}

#hangman.correct .hangman-seg {
  scale: 1.03;
  transition: scale 300ms 800ms cubic-bezier(.5, .5, 1, 10);
  transform: none;
}

.hangman-word {
  display: flex;
  gap: 0.5%;
  @apply justify-center;
}

.hangman-seg {
  @apply flex-shrink w-12 sm:w-14 md:w-16;
  @apply grid place-items-center rounded-full;
  @apply bg-accent font-bold;
  @apply text-2xl sm:text-3xl md:text-4xl;
  @apply aspect-square;
}

.hangman-seg.used {
  transform: scale(1.02);
  transition: transform .1s cubic-bezier(.5, .5, 1, 10);
}